* {
    box-sizing: border-box;
}

html {
    padding: 0 1%;
    background: #000 url(/images/stars.gif) fixed;
}

body {
    width: 90%;
    min-width: 972px;
    margin: 0 auto;
}

.main {
    padding: 41px 0 80px;
    font-size: 0;
}

.sidebar {
    display: table-cell;
    vertical-align: top;
}

.sidebar-item {
    width: 290px;
    padding-right: 62px;
}

.main-content {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-right: 2.6px;
}

.page-heading {
    padding-bottom: 2px;
    border-bottom: 1px solid #999;
    margin-bottom: 13px;
}
