@font-face {
    font-family: MyriadProCondensed;
    src: url('../fonts/MyriadPro-Cond.eot');
    src: local('Myriad Pro Condensed'),
         local('MyriadPro-Cond'),
         url('../fonts/MyriadPro-Cond.woff') format('woff'),
         url('../fonts/MyriadPro-Cond.otf') format('opentype'),
         url('../fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
}

body {
    font-family: MyriadProCondensed, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 21.6px;
    color: #eee;
    font-weight: 600;
    margin: 0;
    text-align: center;
    padding: 0 4px 4px;
    border-bottom: 1px solid #f0f0f0;
}

h2 {
    padding: 2pt 0 1pt 5pt;
    border-left: 1px solid #9cf;
    border-bottom: 1px solid #9cf;
    margin: 18pt 0 7pt 0;
    color: #9cf;
    font-size: 20px;
    font-weight: normal;
}

h3 {
    padding: 8px 0 2px 6px;
    border-left: 1px solid #9cf;
    border-bottom: 1px solid #9cf;
    margin: 0;
    color: #9cf;
    font-size: 14.5pt;
    line-height: 15pt;
    font-weight: normal;
}

.sidebar {
    color: #9cf;
    font-size: 13pt;
    line-height: 14pt;
}

.main-content {
    font-size: 20px;
    color: #e8e8e8;

    p {
        text-indent: 18pt;
        margin: 0 0 4pt;
        line-height: 1;
        text-align: justify;
    }

    strong {
        font-weight: 400;
        color: #fff;
        text-shadow: #808080 1px -1px;
    }

    a {
        @include link-deco;
        color:#eee;
        text-decoration:none;

        &:link {color:#f0f0f0;}
        &:visited {color:#cef;}
        &:visited:hover {color:#cef;}
        &:hover,
        &:active {color:#fff;}
    }
}
