$breakpoints: (
  'phone'  :    ( "(max-width: 767px)" ),
  'portrait' :  ( "(min-width: 768px)" ),
  'paysage' :   ( "(min-width: 992px)" ),
  'desktop' :   ( "(min-width: 1200px)" ),
);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoints}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin breakpoint($name) {
    @include respond-to($name) {
        @content;
    }
}

@mixin clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin unstyled-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
