@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/** 1. Set default font family to sans-serif. 2. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom. */
html { -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability of focused elements when they are also in an active/hover state. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width. 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ box-sizing: content-box; /* 2 */ }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

a[title="Faboba : Création de composantJoomla"] { display: none !important; }

.hidden { display: none; }

* { box-sizing: border-box; }

html { padding: 0 1%; background: #000 url(/images/stars.gif) fixed; }

body { width: 90%; min-width: 972px; margin: 0 auto; }

.main { padding: 41px 0 80px; font-size: 0; }

.sidebar { display: table-cell; vertical-align: top; }

.sidebar-item { width: 290px; padding-right: 62px; }

.main-content { display: table-cell; vertical-align: top; width: 100%; padding-right: 2.6px; }

.page-heading { padding-bottom: 2px; border-bottom: 1px solid #999; margin-bottom: 13px; }

@font-face { font-family: MyriadProCondensed; src: url("../fonts/MyriadPro-Cond.eot"); src: local("Myriad Pro Condensed"), local("MyriadPro-Cond"), url("../fonts/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond.otf") format("opentype"), url("../fonts/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg"); }

body { font-family: MyriadProCondensed, Arial, Helvetica, sans-serif; }

h1 { font-size: 21.6px; color: #eee; font-weight: 600; margin: 0; text-align: center; padding: 0 4px 4px; border-bottom: 1px solid #f0f0f0; }

h2 { padding: 2pt 0 1pt 5pt; border-left: 1px solid #9cf; border-bottom: 1px solid #9cf; margin: 18pt 0 7pt 0; color: #9cf; font-size: 20px; font-weight: normal; }

h3 { padding: 8px 0 2px 6px; border-left: 1px solid #9cf; border-bottom: 1px solid #9cf; margin: 0; color: #9cf; font-size: 14.5pt; line-height: 15pt; font-weight: normal; }

.sidebar { color: #9cf; font-size: 13pt; line-height: 14pt; }

.main-content { font-size: 20px; color: #e8e8e8; }

.main-content p { text-indent: 18pt; margin: 0 0 4pt; line-height: 1; text-align: justify; }

.main-content strong { font-weight: 400; color: #fff; text-shadow: #808080 1px -1px; }

.main-content a { text-decoration: none; color: #eee; text-decoration: none; }

.main-content a:hover { text-decoration: underline; }

.main-content a:link { color: #f0f0f0; }

.main-content a:visited { color: #cef; }

.main-content a:visited:hover { color: #cef; }

.main-content a:hover, .main-content a:active { color: #fff; }

.header { border-bottom: 2px solid #69c; }

.banner { position: relative; height: 260px; padding-top: 16px; border-left: 3px solid #69c; border-bottom: 2px solid #69c; background: url(/images/banner.jpg) no-repeat top left; }

.banner .logo { color: #fff; }

.banner .logo-link { display: block; margin-left: 37px; margin-bottom: 28px; text-decoration: none; }

.banner .logo-link span { line-height: 36px; letter-spacing: 1px; text-transform: uppercase; text-shadow: 0 0 0px rgba(90, 145, 202, 0.5), 1px 0 0px rgba(90, 145, 202, 0.4), 2px 0 0px rgba(90, 145, 202, 0.4), 3px 1px 0px rgba(90, 145, 202, 0.4), 4px 2px 0px rgba(90, 145, 202, 0.4), 5px 3px 0px rgba(90, 145, 202, 0.4), 6px 4px 0px rgba(90, 145, 202, 0.3), 7px 5px 0px rgba(90, 145, 202, 0.2), 8px 6px 1px rgba(90, 145, 202, 0.1); }

.banner .logo-link span:nth-of-type(1) { display: inline-block; transform-origin: 0% 0% 0px; transform: scaleX(0.9); color: #f4f7fa; font-family: arial, sans-serif; font-size: 39px; }

.banner .logo-link span:nth-of-type(2) { display: block; color: #fff; font-size: 33px; }

.banner .logo-slogan { max-width: 600px; margin: 0 0 0 40px; font-size: 14pt; line-height: 15pt; }

.verse { position: absolute; top: 14px; right: 4px; width: 267px; margin: 0; color: #f0f0f0; }

.verse-caption { font-size: 13pt; line-height: 14pt; margin-bottom: 6px; }

.verse-quote { margin: 0; }

.verse-text { font-size: 13.5pt; line-height: 0.9; font-style: italic; color: #cef; }

.verse-text > p { margin: 0 0 10px; }

.verse-details { text-align: right; font-size: 13pt; line-height: 14pt; color: #eee; }

.verse-source { font-style: normal; }

.verse-link { text-decoration: none; color: inherit; }

.verse-link:hover { text-decoration: underline; }

.nav { display: table; width: 94%; margin: 0 auto; padding: 10px 0 7px; }

.nav-items { padding: 0; margin: 0; list-style: none; display: table-row; }

.nav-items > li { display: table-cell; }

.nav-items > li > a { margin: 0 16px; padding: 0 2px; border: 0 solid #000; border-left-width: 2px; border-right-width: 2px; font-size: 14.5pt; line-height: 14.5pt; color: #eee; text-decoration: none; text-transform: uppercase; }

.nav-items > li > a:link { color: #f0f0f0; }

.nav-items > li > a:hover { border-color: #97b0bd; color: #cef; }

.nav-items > li.active > a { border-left: 2px solid #000; border-right: 2px solid #000; color: #cef; }

.sidebar p { margin: 0; }

.sidebar-item { padding-bottom: 18px; }

.search-bar.sidebar-item { padding-top: 1px; font-size: 0; }

.search-bar.sidebar-item .sidebar-item-content { padding: 2px 0 1px 0; }

.search-bar.sidebar-item .btn { display: inline-block; width: 40px; height: 23px; padding: 0 0 0 2px; border-top: 1px solid #9cf; border-left: 2px solid #9cf; border-bottom: 2px solid #789; border-right: 2px solid #789; margin: 0 0 3px 1px; background-color: #369; color: #e2e2e2; font-size: 13pt; line-height: 13.5pt; }

.search-query { display: inline-block; width: 180px; height: 21px; padding: 0 0 0 3px; border-top: 1px solid #789; border-left: 2px solid #789; border-bottom: 1px solid #9cf; border-right: 2px solid #9cf; background-color: #136; color: #e8e8e8; font-size: 14pt; line-height: 15pt; opacity: 0.9; }

.lang-switcher select { width: 147px; font-size: 13pt; line-height: 13.5pt; color: #9cf; background-color: #0e2952; }

.footer { margin-bottom: 24px; font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 9pt; line-height: 10pt; color: #e2e2e2; text-align: center; }

.footer a { text-decoration: none; color: #f0f0f0; }

.footer a:hover { text-decoration: underline; }

.footer p { margin: 0; }

.footer .copy-protection { padding-bottom: 3px; }

.main-content ul { padding: 0; margin: 0; list-style: none; }

/*# sourceMappingURL=maps/style.css.map */