.header {
    border-bottom: 2px solid #69c;
}
.banner {
    position: relative;
    height: 260px;
    padding-top: 16px;
    border-left: 3px solid #69c;
    border-bottom: 2px solid #69c;
    background: url(/images/banner.jpg) no-repeat top left;

    .logo {
        color: #fff;
    }

    .logo-type {
    }

    .logo-link {
        display: block;
        margin-left: 37px;
        margin-bottom: 28px;
        text-decoration: none;

        span {
            line-height: 36px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-shadow:
                0   0   0px rgba(#5a91ca, .5),
                1px 0   0px rgba(#5a91ca, .4),
                2px 0   0px rgba(#5a91ca, .4),
                3px 1px 0px rgba(#5a91ca, .4),
                4px 2px 0px rgba(#5a91ca, .4),
                5px 3px 0px rgba(#5a91ca, .4),
                6px 4px 0px rgba(#5a91ca, .3),
                7px 5px 0px rgba(#5a91ca, .2),
                8px 6px 1px rgba(#5a91ca, .1);

            &:nth-of-type(1) {
                display: inline-block;
                transform-origin: 0% 0% 0px;
                transform: scaleX(0.9);
                color: #f4f7fa;
                font-family: arial, sans-serif;
                font-size: 39px;
            }

            &:nth-of-type(2) {
                display: block;
                color: #fff;
                font-size: 33px;
            }
        }
    }

    .logo-slogan {
        max-width: 600px;
        margin: 0 0 0 40px;
        font-size: 14pt;
        line-height: 15pt;
    }
}
