.footer {
    margin-bottom: 24px;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 9pt;
    line-height: 10pt;
    color: #e2e2e2;
    text-align: center;

    a {
        @include link-deco;
        color: #f0f0f0;
    }

    p {
        margin: 0;
    }

    .copy-protection {
        padding-bottom: 3px;
    }
}
