.nav {
    display: table;
    width: 94%;
    margin: 0 auto;
    padding: 10px 0 7px;
}
.nav-items {
    @include unstyled-list;
    display: table-row;

    > li {
        display: table-cell;
        > a {
            margin: 0 16px;
            padding: 0 2px;
            border: 0 solid #000;
            border-left-width: 2px;
            border-right-width: 2px;
            font-size: 14.5pt;
            line-height: 14.5pt;
            color: #eee;
            text-decoration: none;
            text-transform: uppercase;
            &:link {
                color: #f0f0f0;
            }
            &:hover {
                border-color: #97b0bd;
                color: #cef;
            }
        }
        &.active > a {
            border-left: 2px solid #000;
            border-right: 2px solid #000;
            color: #cef;
        }
    }
}

