.search-bar.sidebar-item {
    padding-top: 1px;
    font-size: 0;

    .sidebar-item-content {
        padding: 2px 0 1px 0;
    }

    .btn {
        display: inline-block;
        width: 40px;
        height: 23px;
        padding: 0 0 0 2px;
        border-top: 1px solid #9cf;
        border-left: 2px solid #9cf;
        border-bottom: 2px solid #789;
        border-right: 2px solid #789;
        margin: 0 0 3px 1px;
        background-color: #369;
        color: #e2e2e2;
        font-size: 13pt;
        line-height: 13.5pt;
    }
}

.search-query {
    display: inline-block;
    width: 180px;
    height: 21px;
    padding: 0 0 0 3px;
    border-top: 1px solid #789;
    border-left: 2px solid #789;
    border-bottom: 1px solid #9cf;
    border-right: 2px solid #9cf;
    background-color: #136;
    color: #e8e8e8;
    font-size: 14pt;
    line-height: 15pt;
    opacity: 0.9;
}
