.verse {
    position: absolute;
    top: 14px;
    right: 4px;
    width: 267px;
    margin: 0;
    color: #f0f0f0;

}
.verse-caption {
    font-size: 13pt;
    line-height: 14pt;
    margin-bottom: 6px;
}

.verse-quote {
    margin: 0;
}

.verse-text {
    font-size: 13.5pt;
    line-height: 0.9;
    font-style: italic;
    color: #cef;

    > p {
        margin: 0 0 10px;
    }
}

.verse-details {
    text-align: right;
    font-size: 13pt;
    line-height: 14pt;
    color: #eee;
}

.verse-source {
    font-style: normal;
}

.verse-link {
    @include link-deco;
    color: inherit;
}
